.sideNav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 2rem;
}

.sideNav h3 {
  letter-spacing: 2px;
  font-size: 20px;
}
.notSelected{
  width: 150px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.cat-list button:hover {
  background-color: gray;
}

.selected {
  background-color: gray;
  width: 150px;
  height: 30px;
  border: none;
}

.cat-list {
  display: flex;
  width: 190px;
}
.cat-list button {
  margin-left: 10px;
  height: ;
}
.cat-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
