.card {
  max-width: 300px;
  margin-top: 10px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.card-content {
  margin-top: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 1rem;
  color: #4a5568;
}
.card button {
  cursor: pointer;
}

.card-above {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}
.card-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 10px;
  padding-left: 120px;
}
.edit-delete {
  display: flex;
  flex-direction: column;
  margin: auto 2px;
  gap: 5px;
}
.card-image {
  height: 209px;
  width: 298px;
  object-fit: cover;
}

.card-title {
  font-size: 20px;
}

.card-date {
  color: gray;
  font-size: 13px;
}

.card-link {
  color: #a7afc1;
  margin-bottom: 5px;
  font-size: 14px;
}

@media (max-width: 700px) {
  .card-above {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
