.description-container {
  width: 70vw;
  min-height: 40vh;
  padding: 0px;
  margin: 50px;
}

.card-image-description{
  width: 100%;
  height: 500px;
  border-radius: 30px;
}
.description {
  display: flex;
  gap: 20px;
  height: 100vh;
}

.text{
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  gap: 5px;
}

.text h2{
  font-size: 32px;
}

.description-text{
  font-size: 18px;
  color: #A7AFC1;
}

.comment-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}

.comment-section h3{
  font-size: 30px;
}
.input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-field input {
  padding: 5px;
  width: 90%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}
