.text-field {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 5px;
}
.my-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.submit-btn {
  width: 150px;
  height: 40px;
  background-color: #89aae5;
  color: white;
  border-radius: 5px;
  border: none;
}
.error {
  color: red;
}

.text-field label {
  font-size: 20px;
  font-weight: bold;
}
#title,
#description,
#category {
  height: 30px;
  padding: 5px;
}

.btnDiv {
  display: flex;
  gap: 30px;
}

.btnDiv button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: font-weight 0.3s ease-out;
}

.btnDiv button:hover {
  text-decoration: underline;
  font-weight: bold;
}
