.text-field {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 2px;
}
.my-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.submit-btn {
  width: 150px;
  height: 40px;
  background-color: #45474b;
  color: white;
  border-radius: 5px;
  border: none;
}
.error {
  color: red;
}
.text-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-field label {
  font-size: 20px;
  font-weight: bold;
}
#title,
#description,
#category {
  height: 30px;
  padding: 5px;
}

.btnDiv button {
  height: 40px;
  width: 120px;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.open-modal-btn {
  background-color: #495e57;
  transition: 0.5s ease-out;
}
.open-modal-btn:hover {
  background-color: #45474b;
}
.btnDiv {
  display: flex;
  gap: 20px;
}
.categoryBtn {
  background-color: #45474b;
  transition: 0.5s ease-in;
}

.categoryBtn:hover {
  background-color: #495e57;
}
